<header class="sub-header">
  <h2>로그인</h2>
</header>

<main>
  <div classs="login-box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :"이메일" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :"비밀번호" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "로그인" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>

</main>

<style>
  /* .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .field {
    position: relative;
  }

  .sub-header {
    justify-items: center;
  } */
</style>
